.kanban-column {
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.kanban-column--new {
    padding: 1rem;
    align-self: flex-start;
}

.kanban-column__header {
    background: transparent;
    padding: .4rem;
    border-bottom: 1px solid #1f3a8a0f;
}

.kanban-column__footer {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1rem;
}

.kanban-column__title-input {
    background: transparent;
    border: 1px solid transparent;
    font-family: var(--base-font);
    color: var(--text-color);
    padding: .4rem;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-weight: 800;
    font-size: 1.2rem;
}

.kanban-column__title-input:focus {
    border: 1px solid var(--primary-color);
}

.kanban-column > button:not(:only-child) {
    margin-righ: 1rem;
    margin-left: auto;
}

.kanban-column > button:only-child {
    align-self: flex-start;
}