.login {
    height: 100dvh;
    display: grid;
    place-items: center;
}

.login__panel {
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
}

.login__title {
    margin: 0 0 2rem;
}